.title-container {
    background-image: url("../images/LandingPage/jelly-beans.svg");
    background-repeat: no-repeat;
    padding-top: 35px;
}

.main-title {
    width: 65%;
    margin-bottom: 5px;
    animation: float 5s ease-in-out infinite;
}

// float animation
@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-8px);
    }
    100% {
        transform: translatey(0px);
    }
}

.sub-title {
    width: 70%;
    margin-bottom: 5px;
}

.date {
    width: 50%;
    margin-bottom: 25px;
}

.board {
    margin-left: 40px;
    margin-right: 40px;
}

.button-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.section {
    margin-top: 50px;
    
    .section-content {
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 30px;
        background-color: #FFFFFF7D;
        padding: 35px 45px;
        border-radius: 16px;
        line-height: 1.5rem;

        .section-content-wrapper {
            margin-bottom: 40px;

            .date-container {
                background-color: #FFF6D6;
                border-radius: 16px;
                padding: 5px 15px 3px 15px;
                text-shadow: none;
                color: black;
                font-family: "Jua";
                font-weight: normal;
            }

            .timetable-content {
                margin-bottom: 30px;
                margin-top: 25px;
            }
        }
        .likelion-title-text {
            margin-bottom: 25px;
        }
    }
}

p {
    font-size: 15px;
}

.main-footer {
    margin: 40px 0 20px 0;
    display: flex;
    justify-content: space-evenly;
}

.item-container {
    text-align: center;
    
    .item-logo {
        width: 55px;
        height: 55px;
        margin: 0 auto;
    }
}

.logo-img {
    width: 100px;
    height: 100px;
}

.footer-text {
    font-size: 14px;
    color: #727272;
    line-height: 1rem;
}
