.container {
    margin: 0 auto;
    text-align: center;
}

.map-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.scroll-container{
    margin: 0 25px 0 25px;
    background-color: #FFFFFF7D;
    padding: 20px 20px;
    border-radius: 16px;
    height : 300px;
    overflow-y: scroll;
}

ul{
    margin:0;
    padding:0;
}
